{% extends 'base.html' %}

{% block content %}


<div class="container" >
    <h2>ثبت موجودی </h2>
        <form method="post">
            {% csrf_token %}
            
            <h2>ایجاد فاکتور</h2>
            {{ invoice_form.as_p }}

            <h3>آیتم‌های فاکتور</h3>
            {{ item_formset.management_form }}
            {% for form in item_formset.forms %}
                {{ form.as_p }}
            {% endfor %}

            <button type="submit">ذخیره</button>
        </form>

    </div>
{% endblock content %}

