{% extends 'base.html' %}
{% load humanize %}
{% block content %}

<div class="container">
    <h2>ثبت اقلام فاکتور </h2>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">ثبت</button>
    </form>
<hr>

    {% if stocks %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="row">#</th>
          <th scope="col">نام محصول</th>
          <th scope="col">انبار</th>
          <th scope="col">تعداد</th>
          <th scope="col">قیمت</th>
          <th scope="col">ویرایش</th>
          <th scope="col">حذف</th>
        </tr>
      </thead>
      <tbody>
        {% for stock in stocks %}
          <tr>
            <td>{{ stock.id }}</td>
            <td>{{ stock.product.name }}</td>
            <td>{{ stock.warehouse.name }}</td>
            <td>{{ stock.quantity }}</td>
            <td>{{ stock.product.price|intcomma }}</td>
            <td>
              <a href="{% url 'home:stock_update' stock.id %}">ویرایش</a>
            </td>
            <td>
              <a class="text-danger" href="{% url 'home:stock_delete' stock.id %}">حذف</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
</div>
{% endblock content %}

