{% extends 'base.html' %}

{% block content %}
<a class="btn btn-primary my-2" href="{% url 'home:product_register' %}">ثبت محصول</a>
  {% if products %}
    <table class="table">
      <thead>
        <tr>
          <th scope="row">#</th>
          <th scope="col">نام</th>
          <th scope="col">قیمت</th>
          <th scope="col">قیمت خرید</th>
          <th scope="col">ویرایش</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
          <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.cost_price }}</td>
             <td>
              <a href="{% url 'home:product_update' product.id %}">ویرایش</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
