{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
  <form class="d-flex my-2" method="get">
    <input class="form-control me-2" type="text" name="query" placeholder="جستجو کنید..." value="{{ query }}" />
    <button class="btn btn-primary" type="submit">جستجو</button>
  </form>
  <hr />
  <h3 class="my-1">فاکتورها</h3>

  <a class="btn btn-primary my-2" href="{% url 'home:invoice_register' %}">ثبت فاکتور</a>
  {% if invoices %}
    <table class="table">
      <thead>
        <tr>
          <th scope="row">#</th>
          <th scope="col">نوع فاکتور</th>
          <th scope="col">نام شخص</th>
          <th scope="col">تاریخ</th>
          <th scope="col">اقلام</th>
          <th scope="col">ویرایش</th>
          <th scope="col">حذف</th>
        </tr>
      </thead>
      <tbody>
        {% for invoice in invoices %}
          <tr>
            <td>{{ invoice.id }}</td>

            {% if invoice.invoice_type == 'purchase' %}
              <td>خرید</td>
            {% else %}
              <td>فروش</td>
            {% endif %}

            <td>{{ invoice.person.name }}</td>
            <td>{{ invoice.date|to_jalali }}</td>

            <td>
              <a class="text-success" href="{% url 'home:invoice_items_pesron' invoice.id %}">اقلام</a>
            </td>

            <td>
              <a href="{% url 'home:invoice_update' invoice.id %}">ویرایش</a>
            </td>
            <td>
              <a class="text-danger" href="{% url 'home:invoice_delete' invoice.id %}">حذف</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
