{% extends 'base.html' %}
{% load humanize %}

{% block content %}
  <a class="btn btn-primary my-2" href="{% url 'home:warehouse_register' %}">ثبت انبار</a>
  {% if warehouses %}
    <table class="table">
      <thead>
        <tr>
          <th scope="row">#</th>
          <th scope="col">نام</th>
          <th scope="col">آدرس</th>
          <th scope="col">ویرایش</th>
         
        </tr>
      </thead>
      <tbody>
        {% for warehouse in warehouses %}
          <tr>
            <td>{{ warehouse.id }}</td>
            <td>{{ warehouse.name }}</td>
            <td>{{ warehouse.location }}</td>
            
             <td>
              <a href="{% url 'home:warehouse_update' warehouse.id %}">ویرایش</a>
            </td>
            {% comment %}
            <td>
              <a class="text-danger" href="{% url 'home:product_delete' product.id %}">حذف</a>
            </td> 
            {% endcomment %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
