{% extends 'base.html' %}

{% block content %}
<h3 class="my-1">اشخاص</h3>
<a class="btn btn-primary my-2" href="{% url 'account:person_register' %}">ثبت شخص</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">نام</th>
            <th scope="col">موبایل</th>
            <th scope="col">آدرس</th>
            <th scope="col">ویرایش</th>
        </tr>
    </thead>
    <tbody>
        {% for person in persons %}
      <tr>
        <td>{{person.name}}</td>
        <td>{{person.phone}}</td>
        <td>{{person.address}}</td>
        <td><a href="{% url 'account:person_update' person.id %}">ویرایش</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}


